html, body {
  background-color:black;
  height: 100%;
  margin: 0;
  font-family: monospace; 
  color: white;
}

div {
  color: white;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 340px;
  display: block;
}
.header {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

input, input:focus {
  border: solid 1px rgb(165, 165, 165);
  color : #F24;
  background-color: black;
}

a {
  color: antiquewhite;
}

#instructions {
  padding-bottom: 20px;
}