html, body {
  background-color: #615c57;
  height: 100%;
  margin: 0;
  font-family: monospace; 
  color: #888;
}

div {
  color: #888;
  background-color: #615c57;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  display: block;
}
.header {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #615c57;
  color: #888;
  text-align: center;
}

input, input:focus {
  border: solid 1px #888;
  color : #eeeeee;
  background-color: #615c57;
  width: 357px;
}
#user-pl-r {
  background-color: #ca3c3c;
}
#user-pl-g {
  background-color: #31b331;
}
#user-pl-b {
  background-color: #3335b4;
}
#user-pl-a {
  background-color: #7c7772;
}

a {
  color: #888;
}

#instructions {
  padding-bottom: 20px;
}